html {
	bix-sizing: border-box;
}

a {
	color: var(--text-color);
}

p {
	font-size: 1.3rem;
}

body {
	--background-color: #fff;
	--text-color: #222;
	--button-text-color: #232425;
	--nav-color: #fafafa;
	--transition-delay: 1s;
	--title-heading: 7em;
	background-color: var(--background-color);

	transition: var(--transition-delay);
	min-height: 100%;
	margin: 0;
	box-sizing: inherit;

	.container {
		max-width: 100vw;
		height: 85vh;
	
		z-index: 1;
		background-color: var(--background-color);
		font-family: monospace;
		max-width: 100vw;

		scroll-snap-type: y mandatory;
		overflow-y: scroll;
		-ms-overflow-style: none;
		scrollbar-width: none;
		background-color: var(--background-color);
		transition: var(--transition-delay);
	


		section {
			display: flex;
			flex-direction: column;
			align-items: center;
			max-width: 100%;
			min-height: 100vh;
			scroll-snap-align: start;
			z-index: 1;
			color: var(--text-color);
			transition: var(--transition-delay);
			padding: 0 0 20vh 0;
			margin-bottom: 20vh;

			h1 {
				font-family: monospace;
				font-size: 3em;
			}
		}

		margin: 0 0 -132px;
		padding: 0 100px;
	}

	.container::-webkit-scrollbar {
		display: none;
	}

	

	
}

body.dark {
	--accent-color: #D0D066;
	--background-color: #232425;
	--text-color: #a9a9b3;
	--button-text-color: #fff;
	--nav-color: #1b1c1d;
}

.footer {
		height: 18;
		display: flex;
		flex-direction: column;
		justify-content: bottom;
		align-items: center;
		width: 100%;
		background-color: var(--background-color);
		z-index: 9999;
		font-size: 1em;
		color: var(--text-color);
		transition: var(--transition-delay);
		position: relative;
		margin: 0;
		

		hr {
			width: 99%;
		}

	}

.menu {
	z-index: 9999;
	background: var(--nav-color);
	transition: var(--transition-delay);

	&__inner {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		max-width: 100%;
		margin: 0 auto;
		padding: 0 15px;
		font-size: 2rem;
		list-style: none;
		transition: var(--transition-delay);

		li {
			margin: 0 12px;
			transition: var(--transition-delay);
		}
	}
}

.themeToggle {
	display: flex;
	justify-content: right;
	background-color: transparent;
	color: var(--button-text-color);
	cursor: pointer;
	padding: .5em 1em;
	border-radius: .3em;
	border: none;
	outline: none;
	transition: var(--transition-delay);

}

.themeToggle:hover {
	transform: scale(1.1);
}

.icon {
	width: 3rem;
	height: 3rem;
	color: var(---text-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
  background-color: var(--nav-color);
  transition: var(--transition-delay);

    &__right {
	    display: flex;
	    flex-direction: row;
	    align-items: center;
    }

    &__inner {
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	    margin: 0 auto;
	    width: 760px;
	    max-width: 100%;
  	}

  }

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-display: auto;
  font-family: monospace, monospace;

  img {
    height: 44px;
  }

  &__mark {
    margin-right: 5px;
    font-size: 2rem;
  }

  &__text {
    font-size: 2rem;
    white-space: nowrap;
  }

  &__cursor {
    display: inline-block;
    width: 15px;
    height: 2rem;
    background: #fe5186;
    margin-left: 5px;
    border-radius: 1px;
    animation: cursor 1s infinite;
  }


}

@keyframes cursor {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.social-icon {
	fill: var(--text-color);
	transition: var(--transition-delay);
	height: 3rem;
	width: 3rem;
}

.socials {
	display: flex;
	margin-bottom: 2rem;
	margin-top: 1rem;
	gap: 2rem;
}