<meta charset="utf-8">
<title>{{ print .Page.Title }}</title>
{{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify}}
<link rel ="stylesheet" href="{{ $style.Permalink }}">

<script defer language="javascript" type="text/javascript" src = '{{ "/js/theme-toggle.js" | urlize | relURL }}'></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script defer language="javascript" type="text/javascript" src = '{{ "/js/jspdf.js" | urlize | relURL }}'></script>

